# Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Entornos virtuales
venv/
env/
ENV/
env.bak/
venv.bak/

# Variables de entorno
.env

# Docker
.dockerignore

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
